<html xmlns:th="https://www.thymeleaf.org" >

<meta charset="utf-8">

<body>

	<h1> TP3 - Akka </h1>
	
	<form action="/akka/initialisation" method="post">
		<h2> Initialiser les acteurs  </h2>
		<input type="submit" value="Initialiser">
	</form>
	
	<form action="/akka/analyser" method="post">
		<h2> Fichier à analyser :  </h2>
		<input type="file" name="fichier">
		<input type="submit" value="Analyser">
	</form>
	
	<form action="/akka/afficherOccurence" method="post">
		<h2> Afficher le nombre d'occurence :  </h2>
		<input type="texte" name="mot">
		<input type="submit" value="afficher">
	</form>
	



</body>